.userInfo {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.btnExit {
  background-color: transparent;
  border: none;
  color: #9b9faa;
  letter-spacing: 0.04em;
  transition: all 150ms linear;
}
.btnExit:hover {
  color: #808288;
}
