.container {
  padding: 363px 95px 20px 94px;
  width: 520px;
  background-color: #f0f1f3;
  margin-top: -363px;
  position: relative;

  z-index: -10;
}

.notAllowedProductsList {
  height: 120px;
  overflow: scroll;
}

.title {
  margin-bottom: 40px;
}
