.container {
  /* padding: 363px 95px 20px 94px; */
  /* width: 520px; */

  padding: 40px 20px;
  background-color: #f0f1f3;
  /* margin-top: -363px; */
  position: relative;
  height: 100vh;
  z-index: -10;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.notAllowedProductsList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 180px;
  overflow: scroll;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #212121;
}
.topWrapper {
  margin-bottom: 40px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f1f3;
}
::-webkit-scrollbar-thumb {
  background-color: #264061;
}
